<a href="https://colab.research.google.com/github/sagunkayastha/CAI_Workshop/blob/main/Workshop_1/intro_pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Introduction to pandas


## What is it?
[pandas](http://pandas.pydata.org/) is an open source [Python](http://www.python.org/) library for data analysis. We can perform data prepping, data munging and ultimately data analysis using pandas in Python.

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

## Data Structures in pandas
pandas introduces two new data structures - Series and Dataframe, both built on top of [NumPy](http://www.numpy.org/)

### Series

A Series is a one-dimentional object consisting of elements (similiar to a list, a column of an array or table). Similar to ordered structures each item in the series is assigned an index from zero to N; N beinng the size of the series.

In [ ]:
s = pd.Series([12, 'Batman', 2.24, 'Wayne Manor', 76000])
print(s)

We can also specify our own index values when creating the series as well.

In [ ]:
s1 = pd.Series([12, 'Batman', 2.24, 'Wayne Manor', 76000], index=[5, 4, 3, 2, 1])
print(s1)

The datatype for the index values doesn't necessary have to be an integer.

In [ ]:
s2 = pd.Series([12, 'Batman', 2.24, 'Wayne Manor', 76000], index=['A', 'B', 'C', 'D', 'E'])
print(s2)

We can simply use the index values to access the elements in the series

In [ ]:
print(s1[3])

print(s2['A'])

Try placing other Python data types and data structures as index values for the Series Object in the cells below: (e.g. do tuple values work?)

In the examples above we passed lists to the Series constructor. Below we have a simmilar example of sending a Python dictionary.

In [ ]:
dict_ = {'Batman': 'Bruce Wayne', 'Superman': 'Clark Kent', 'Spiderman': 'Peter Parker', 'Iron Man': 'Tony Stark', 'Wonder Woman': 'Diana Prince'}
superheroes = pd.Series(dict_)
print(superheroes)

In [ ]:
#Accessing values of the series

superheroes['Batman']

In [ ]:
superheroes[['Batman', 'Superman', 'Wonder Woman']]

Now, Let us take a look at a few operations we can perform in a Series object.

In [ ]:
numbers = pd.Series({'A': 2000, 'B': 4500, 'C': 1600, 'D': 3700, 'E': 2800})
print(numbers)

In [ ]:
#Assinging new values

numbers['C'] = 1750
print(numbers)

We may also perform boolean indexing similar to NumPy.

In [ ]:
print(numbers[numbers < 3000])

A detailed look at how boolean indexing works for a series is given below.

In [ ]:
less_than_3000 = numbers < 3000
print(less_than_3000)
print('\n')
print(numbers[less_than_3000])

A pandas Series also iterable and you can use a loop to access the elements as well.

In [ ]:
for number in numbers:
    print(number)

You can also check whether certain an item is in the series or not similar to other iterable Python data structures we have learned about so far.

In [ ]:
print('Batman' in superheroes)
print('Thor' in superheroes)

However, note that the steps performed above are checking the index values of the series and not the element values themselves. So, it may not be useful in all cases.

In [ ]:
#Checking our numbers series to see if it contains a key value called 'A' is not exactly useful

print('A' in numbers)

We can also perform mathmatical operations on the values in the Series.

In [ ]:
numbers1 = numbers/3
print(numbers1)

In [ ]:
#We can also use mathematical functions

numbers2 = np.square(numbers)
print(numbers2)

You can also concatenate two Series together, which returns the union of the two series with the addition occuring on shared index values. However, index values that are not shared will be replaced by a NULL/NaN value.

In [ ]:
slice_1 = numbers[['A', 'D', 'E']]
print(slice_1)
print('\n')
slice_2 = numbers[['C', 'D']]
print(slice_2)
new_series = slice_1 + slice_2
print(new_series)

Because A, C, and E were not present in both Series, they now have NULL/NaN values in the new Series created.
Checking NULL values can be performed using the `isnull` and `notnull` values

In [ ]:
print(new_series)
print('\n')
print(new_series.notnull())

You can also grab the NULL values or the values that are not NULL using boolean logic similar to what we saw above.

In [ ]:
print(new_series[new_series.notnull()])
print('\n')
print(new_series[new_series.isnull()])

## Dataframe

A Dataframe is a tabular data structure that consists of rows and colums similar to a spreadsheet or a database table. We may also think of a Dataframe as a group of Series objects that share the same index.

### Reading Data

To create a Datafram, we can pass a dictionary of lists to the Dataframe constructor.

We can using the `columns` parameters to specify the order of the columns we want.

In [ ]:
data = {'year': [2010, 2011, 2012, 2011, 2012, 2010, 2011, 2012],
        'team': ['Chelsea', 'Manchester City', 'Chelsea', 'Manchester City', 'Chelsea', 'Liverpool', 'Liverpool', 'Chelsea'],
        'wins': [11, 8, 10, 15, 11, 6, 10, 4],
        'losses': [5, 8, 6, 1, 5, 10, 6, 12]}
football = pd.DataFrame(data, columns=['team', 'wins', 'losses', 'year'], index=[1, 2,3,4,5,6,7,8])
football

However, we will rarely read data as shown above. Much more often, we will have a dataset that we need to read into a Dataframe to perform required operations. Let us look at a few examples of doing it.

### Reading a csv file

Reading a csv file is fairly easy. we can simply use the `read_csv` function.

In [ ]:
# Downloading data from github repo
!wget https://raw.githubusercontent.com/sagunkayastha/CAI_Workshop/main/Workshop_1/data/pd_tutorial_data/data_pd.csv
!wget https://raw.githubusercontent.com/sagunkayastha/CAI_Workshop/main/Workshop_1/data/pd_tutorial_data/u.data
!wget https://raw.githubusercontent.com/sagunkayastha/CAI_Workshop/main/Workshop_1/data/pd_tutorial_data/u.user

In [ ]:
dataframe = pd.read_csv('data_pd.csv')

dataframe

However, notice that the first row from the csv file was automatically coverted into column headings. we obviously do not want this. The `read_csv` function has a `names` parameter that we can use to specify  columns names.

In [ ]:
cols = ['X', 'Y']
dataframe = pd.read_csv('data_pd.csv', names=cols)

dataframe

In [ ]:
dataframe.head()

#The head command will show the first five values of the csv file by default

In [ ]:
#You can simply pass a number along with the function if you want to see more or less data rows

dataframe.head(6)

The *reader* fucntions of pandas has various parameters that can be specified while reading a file that allow skipping certain lines, handling any NUll/NaN values, etc. Explore these paramters by taking a look at the [I/O documentation](http://pandas.pydata.org/pandas-docs/stable/io.html) for pandas and familiarize yourselves with it.

In [ ]:
#You can also save a dataframe in the form of a csv file

dataframe.to_csv('./datafile.csv', index=False)

## Working with Dataframes

Now that we know how to read data and get it in the form of a Dataframe lets start working with them. pandas has numerous functions for this purpose, all of which will not be covered here. You can always check out the [official pandas documentation](http://pandas.pydata.org/pandas-docs/stable/) if you wish to learn more.

In [ ]:
u_cols = ['user_id', 'age', 'sex', 'occupation', 'zip_code']
users = pd.read_csv('u.user', sep='|', names=u_cols)

r_cols = ['user_id', 'movie_id', 'rating', 'unix_timestamp']
ratings = pd.read_csv('u.data', sep='\t', names=r_cols)

In [ ]:
users.head()

In [ ]:
ratings.head()

## Data Inspection

pandas has a number of fucntions that show some basic information about the Dataframes we are using. The most basic one is the `info()` method.

In [ ]:
users.info()

The output above gives us some basic information of our dataframe such as:

1. It is (obviously) an instance of a dataframe.
2. We have a total of N entires indexed form 0 to N-1
3. We have five columns, each with a unique name and a datatype within them.
4. Finally it also shows the different datatypes present in the entire dataframe and their frequencies in parentheses

To only get a overview of the datatypes, you can use the `dtypes` method

In [ ]:
users.dtypes

DataFrames also have a `describe()` method that presents a few basic statistics about the dataset's numeric columns.

In [ ]:
users.describe()

However, be careful while using this method as it returns statistical information on **all** numeric values. (we have information on the numeric user_id value which is unnecessary)

In [ ]:
#Example 2

ratings.describe()

We have used the `head` method numerous times above. Similar to head the `tail` method displays the last five records of the dataset.

In [ ]:
ratings.tail(4)

We can also use the familiar Python slicing techniques used so far with Dataframes

In [ ]:
users[10:20]

## Data Selection

We can select data from specific columns according to our needs. Selecting a single column will return a Series object.

In [ ]:
users['occupation'].head()

To get multiple columns, we can pass a list of column names to the DataFrame. The output here will also be a DataFrame.

In [ ]:
users[['occupation', 'sex']].head()

Try other Selection choices with both of the dataframes we have available here in the cells below.

In [ ]:
#Display age and sex of the last ten records form the users dataframe

In [ ]:
#Display the movie_id and rating columns from the 10th to 20th records form the ratings dataframe

In [ ]:
#Display the age column only for the first 8 records in the users dataframe (the output must appear in the form of a dataframe)

We can also perform row selection operations, performing boolean indexing is quite useful here.

In [ ]:
print('users older than 25')
display(users[users.age > 25].head(3))

print('users aged 40 AND male')
display(users[(users.age == 40) & (users.sex == 'M')].head(3))

print('users younger than 30 OR female')
display(users[(users.sex == 'F') | (users.age < 30)].head(3))

In [ ]:
#Display the last ten records from the ratings dataframe that have a rating less than 5

Since our index is kind of meaningless right now, let's set it to the `user_id` using the `set_index` method. By default, `set_index` returns a new DataFrame

In [ ]:
display(users.set_index('user_id').head())

display(users.head())

As mentioned above, the `set_index` method doesn't change the old DataFrame but returns a new one.

In [ ]:
with_new_index = users.set_index('user_id')
with_new_index.head()

However, you may change the original DataFrame using the `inplace` parameter.

In [ ]:
users.set_index('user_id', inplace=True)
users.head()

If we require the old pandas default indices, we can simply `reset_index` withe `inplace` parameter.

In [ ]:
users.reset_index(inplace=True)
users.head()

There are obviously far complex ways of performing data selection with pandas which wont be discussed here. Please refer to the [documentation](http://pandas.pydata.org/pandas-docs/stable/indexing.html) if you are curious.

## Some Other Useful Data 'munging' Operations

### Renaming

We can use the `rename` method to rename the columns of a DataFrame

In [ ]:
users.rename(columns={'user_id': 'User_ID', 'age': 'Age', 'sex': 'Sex', 'occupation': 'Profession', 'zip_code': 'ZIP_code'}).head()

However, similar to the `set_index` method, the original DataFrame remains unchanged and to change the original DataFrame we use the `inplace` parameter again.

In [ ]:
users.rename(columns={'user_id': 'User_ID', 'age': 'Age', 'sex': 'Sex', 'occupation': 'Profession', 'zip_code': 'ZIP_code'}, inplace=True)
users.head()

### Handling Missing values

We have seen in examples encountered so far that sometimes our DataFrame may consist of missing and/or empty values (NULL,NaN,None). We have a couple of methods to handle such issues.

#### Drop Missing Values

We could simply drop all records consisting of missing values using the `dropna()` method. For the purpose of example, a DataFrame consising of missing values is created below

In [ ]:
df = pd.DataFrame({'int_col' : [1, 2, 6, 8, -1],
                   'float_col' : [0.1, 0.2, 0.2, 10.1, None],
                   'str_col' : ['a', 'b', None, 'c', 'a']})
display(df)

Now using the `dropna()` method

In [ ]:
df1 = df.dropna()
display(df1)

#the same rules with other methods hold here where the original dataframe reamians unchaged, unless inplace=True

#### FIll Missing Values

However, instead of directly dropping records with missing values altogether we could also place values of our own choice using the `fillna()` method.

In [ ]:
mean_float = df.float_col.mean()
df.float_col.fillna(mean_float, inplace=True)
df.str_col.fillna('fill', inplace=True)
df

Here, we have replaced the missing value in the float_col with the mean of the rest of the data and replaced the missing value in the str_col with the 'fill' string